@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    position: relative;
    left: 0;
    transition: left 500ms cubic-bezier(0.25,0.46,0.45,0.94);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.6vw;
    line-height: 0.7vw;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}
strong {
    font-weight: 700;
}

hr {
    opacity: 0.5;
}
/* ============================================================================================= */
/* 공통 헤더 영역 */

.top_banner {
    position: relative;
    overflow: hidden;
    height: 30px;
    text-align: center;
    background: #3D64BF;
}

.top_banner .desc {
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    box-sizing: border-box;
    line-height: 30px;
    white-space: nowrap;
}

.list_txt {
    height: 30px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    color: #fff;
    top: 0;
}

.list_txt  a{
    color: #fff;
    font-weight: 700;
}

header {
    height: 70px;
    padding: 0 10vw;
}


header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative !important;
    height: 100%;
}


.navigation ul.nav_left {
    display: flex;
    gap: 1vw;
}

.side_nav {
    gap: 1vw;
    align-items: center;
}

.navigation h1 {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation h1 a img {
    height: 4vw;
    max-height: 30px;
    transition: none;
}

.side_nav {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.side_nav a {
    font-weight: 600;
    font-family: Arial;
    font-size: 12px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.search_box {
    border-bottom: 1px solid #1e1e1e;
    display: flex;
}

.search_box input {
    font-weight: 600;
    font-family: Arial;
    font-size: 12px;
    color: #1e1e1e;
    text-transform: uppercase;
}


.search_box input:focus {
    outline: none;
}

.search_box button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu_btn {
    background-color: #000;
    color: #fff !important;
    padding: 0.15vw 0.5vw;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu_btn img {
    margin-right: 5px;
}

@media screen and (max-width: 1000px) {
    /* .navigation ul.nav_left {
        display: none;
    } */

    .side_nav a {
        display: none;
    }

    .side_nav input {
        display: none;
    }

    /* .menu_btn {
        display: flex;
    } */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #2E2E2E;
    outline: none;
    text-align: left;
    z-index: 2;
    border-radius: 5px;
    /* margin-top: 15px; */
}

.side_nav li:hover .dropdown {
    display: block; /* 호버 시 드롭다운 표시 */
}

.side_nav .dropdown li {
    /* padding: 10px; */
}

.dropdown a {
    width: 150px;
    padding: 10px 30px;
    display: inline-block;
}

.dropdown a:hover {
    color: #3D64BF;
}

/* ============================================================================================= */




/* ============================================================================================= */
/* 로그인 모달 영역 */

.login_modal_bk {
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_modal {
    width: 350px;
    height: 480px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px;
}

.login_modal_cancel {
    width: 100%;
    margin-left: auto;
}

.login_modal_cancel img {
    margin-left: auto;
    display: block;
}

.login_modal_logo {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    /* background-color: #3D64BF; */
}

.login_modal_logo img {
    width: 100%;
    /* height: 10px; */
}

.login_modal_input_box {
    margin-top: 10px;
    width: 100%;
    /* background-color: #3D64BF; */
}

.login_modal_input_box input {
    width: 100%;
    height: 50px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 10px;
}

.login_modal_input_box input:focus {
    outline: none;
}

.login_error_message {
    color: red;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.login_modal_button {
    width: 100%;
    margin-top: 20px;
}

.login_modal_button button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #3D64BF;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

.login_modal_find_box {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.login_modal_find_box a {
    color: #000;
}

.login_modal_find_box span:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.login_modal_easy_box {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #ABABAB;
    font-size: 15px;
    margin: 20px 0;
}

.login_modal_easy_box::before {
    content: "";
    flex-grow: 1;
    margin: 0px 8px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    opacity: 0.5;
}

.login_modal_easy_box::after {
    content: "";
    flex-grow: 1;
    margin: 0px 8px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    opacity: 0.5;
}

.login_modal_easy_login {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #3D64BF;
}
/* ============================================================================================= */





/* ============================================================================================= */
/* 공통 푸터 영역 */

footer {
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background-color: #2E2E2E;
    padding: 0 10vw;
    position:relative;
	bottom: 0;
}



/* ============================================================================================= */





/* ============================================================================================= */
/* 메인 영역 */

.main_wrap {
    position: relative;
    display: flex;
}

.main_visual {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    background: #000;
}


.main_nav {
    width: 100%;
    height: 75px;
    padding: 10px 10vw;
    display: grid;
    padding-top: 18px;
    grid-template-columns: 135px 33px 1fr 52px;
}

.main_nav_num_space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 135px;
    height: 36px;
    font-size: .875rem;
    color: #fff;
    border-radius: 20px;
    background-color: #7F7F7F;
}

.control-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}

.control-wrapper button {
    padding: 0;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.divider {
    margin: 0 1rem;
    width: 1px;
    height: 36px;
    background-color: #dee2e6;
}

.main_nav_selection {
    overflow: hidden;
    height: 36px;
}

.main_nav_selection_box {
    display: flex;
    height: 36px;
}

.main_nav_selection_btn {
    flex: 0 0 auto;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: .875rem;
    font-weight: 700;
    color: #495057;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #ced4da;
    background-color: #fff;
    cursor: pointer;    
}

.ml_10 {
    margin-left: 10px;
}

.main_new_text {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.main_new_text h3 {
    font-size: 20px;
    font-weight: 700;
}

.main_new_text a {
    color: #000;
    line-height: 50px;
    font-size: 15px;
}

.main_container_new {
    padding: 0 10vw;
    display: grid; 
    transition: all 0.2s;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px
}

.main_container_new_card {
    display: block;
}

.main_container_new_card_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 70%;
    border-radius: 0.8rem;
}

.main_container_new_card_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 100%;
    max-width: none;
    padding-top: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.main_container_new_card_title {
    margin-top: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #000;
}

.main_container_new_card_content {
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #000;
}

.main_container_new_card_tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main_container_new_card_tag li {
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 5px;
    color: #6e6e73;
    background: #f2f2f2;
    font-size: 10px;
}

@media screen and (max-width: 800px) {
    .main_container_new_card_tag li {
        padding: 10px 20px;
    }
    
}

.main_banner {
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background-color: #3D64BF;
}

.main_container_hot {
    padding: 0 10vw;
    display: grid; 
    transition: all 0.2s;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px
}

.main_container_hot_card {
    display: block;
}

.main_container_hot_card_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 130%;
    border-radius: 0.8rem;
}

.main_container_hot_card_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 100%;
    max-width: none;
    padding-top: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.main_container_keyword {
    padding: 0 10vw;
    display: grid; 
    transition: all 0.2s;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px
}


@media screen and (max-width: 500px) {
    .main_container_keyword {
        grid-template-columns: 1fr;
    }
}

.main_container_keyword_card {
    display: block;
}

.main_container_keyword_card_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 90%;
    border-radius: 0.8rem;
}

.main_container_keyword_card_img img {
    position: absolute;
    top: 55%;
    left: 50%;
    display: inline-block;
    width: 100%;
    max-width: none;
    padding-top: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/* ============================================================================================= */





/* ============================================================================================= */
/* 회원가입 영역 (약관 입력) */

.regist_wrap {
    position: relative;
    display: flex;
}

.container-registration-none {
    display: none;
}

.regist_title_box {
    padding: 0 10vw;
    margin-top: 50px;
}

.regist_title {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .regist_title span {
        display: block;
        line-height: 20px;
        text-align: left;
        margin-left: 15px;
    }
    .ml_10 {
        margin-left: 0px;
    }
}

.regist_title h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}

.regist_title span {
    font-size: 15px;
}

.regist_content_box {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.regist_content_box_lr {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .regist_content_box_lr {
        display: grid;
        flex-direction: column;
    }
}

.regist_content_box_l {
    width: 100%;
}

.regist_content_box_r {
    width: 100%;
}

.regist_content_box_title h3 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

.regist_content_box_check_box {
    display: flex;
    font-size: 13px;
}

.regist_content_box_check_box input {
    margin-right: 10px;
}

.regist_content_box_checkbox_sel {
    margin-right: 10px;
}

.regist_content_box_l_checkbox {
    display: flex;
    font-size: 13px;
}

.regist_content_box_l_checkbox input {
    margin-right: 10px;
}

.regist_content_box_r_checkbox {
    display: flex;
    font-size: 13px;
}

.regist_content_box_r_checkbox input {
    margin-right: 10px;
}

.regist_content_box_l_terms {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    border: 0.5px solid #5c5c5c6c;
    overflow-y: scroll;
    padding: 10px;
}

.regist_content_box_l_terms h3 {
    font-size: 12px;
    line-height: 20px;
}

.regist_content_box_l_terms p {
    font-size: 12px;
    line-height: 20px;
}

.regist_content_box_r_terms {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    border: 0.5px solid #5c5c5c6c;
    overflow-y: scroll;
    padding: 10px;
}

.regist_content_box_r_terms h3 {
    font-size: 12px;
    line-height: 20px;
}

.regist_content_box_r_terms p {
    font-size: 12px;
    line-height: 20px;
}

.regist_button {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.regist_button_cancel {
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.regist_button_next {
    padding: 10px 30px;
    border: 1px solid #000;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

/* ============================================================================================= */





/* ============================================================================================= */
/* 회원가입 영역 (정보 입력)*/

.regist_table {
    width: 40%;
    border-collapse: collapse;
    margin: 30px auto 20px auto;
}

.regist_table label {
    line-height: 20px;
    text-transform: uppercase;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #ddd;
    font-size: 12px;
}

th:last-child, td:last-child {
    border-right: none;
}

.regist_table input {
    border: 1px solid #83838360;
}

.regist_table input {
    width: 90%;
    padding: 8px;
}

.regist_table_address_box {
    display: flex;
    align-items: center;
}

.regist_table_address_postcode {
    width: 100px !important;
}

.regist_table_address_button {
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    border: 1px solid #83838360;
    margin-left: 10px;
    cursor: pointer;
}

.phone_select_box {
    border: 1px solid #83838360;
    width: 25%;
    padding: 8px;
}
.phone_input_box {
    width: 30.5% !important;
}

.error_message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.success_message {
    color: #3D64BF;
    font-size: 12px;
    margin-top: 5px;
}


@media screen and (max-width: 1200px) {
    .regist_table {
        width: 100%;
    }
    
    table, th, td {
        /* display: block; */
    }
    
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
        border-right: 1px solid #ddd;
        font-size: 12px;
    }
    
}

/* ============================================================================================= */ 


















































































































/* ============================================================================================= */ 
/* 강의 게시판 */

/* 강의 게시판_main */
.class_container_main {
    margin: 0;
    /* margin-top: 10px; */
    font-size: 1rem;
    /* background-color: #2E2E2E; */
    /* padding: 0 10vw; */
}

.class_main_visual {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    background: #000;
}

.class_main_new_text {
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}

.class_main_new_text h3 {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}

.class_main_new_text a {
    color: #000;
    line-height: 50px;
    font-size: 15px;
}

.class_main_container_new {
    padding: 0 10vw;
    display: grid; 
    transition: all 0.2s;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px
}

.class_main_container_new_card {
    display: block;
}

.class_main_container_new_card_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50%;
    border-radius: 0.8rem;
}

.class_main_container_new_card_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 100%;
    max-width: none;
    padding-top: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.class_main_container_new_card_title {
    margin-top: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #000;
}

.class_main_container_new_card_content {
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #000;
}

.class_main_container_new_card_tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.class_main_container_new_card_tag li {
    padding: 0px 15px;
    margin-right: 10px;
    border-radius: 5px;
    color: #6e6e73;
    background: #f2f2f2;
    font-size: 10px;
}

.class_main_container_new_box {
    margin-bottom: 50px;
}

/* .class_main_new_text>h3 {
    text-align: center;
} */

.class_main_new_text>h3:after {
    content: "";
    display: block;
    width: 40px; /* 밑줄 길이 조절 */
    border-bottom: 2px solid #000000;
    margin: 35px auto;
}

.class_main_viewall_text>p>a {
    font-weight: bold;
    color: #6e6e73;
    position: relative;
    left: 40vw;
    margin-right: 70px;
}

@media screen and (min-width: 500px) {
    
    .class_main_new_text {
        margin-top: 50px;
        padding: 10px;
    }
}

/* ============================================================================================================ */
/* 강의 게시판_viewAll */




/* ============================================================================================================ */
/* 강의 게시판_detail */
.class_detail_container_box {
    position: relative;
    padding: 50px 0;
    background: #002333;
}

.class_detail_container {
    padding: 0 10vw;
}

.class_detail_container_lr {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.class_detail_container_l {
    display: inline-flex;
    justify-content: center;
    padding: 8px 0;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.class_detail_container_l_img_cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 473.33px;
    height: inherit;
    border-radius: 8px;
    /* aspect-ratio: 100/65.088; */
    aspect-ratio: 100/70;
}

.class_detail_container_l_img_cover img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
}

.class_detail_container_r {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 32px;
    flex-basis: 58.33333333%;
    max-width: 50.33333333%;
}

.class_detail_container_r_banner {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap;
}

.class_detail_container_r_title_box {
    margin-bottom: 40px;
}

.class_detail_container_r_content_box {
    margin-bottom: 40px;
}

.class_detail_container_r_info_box {
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    color: #fff;
}

.class_detail_container_r_language {
    margin-top: 10px;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.class_detail_container_r_payment_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: 20px;
}

.class_detail_container_r_banner_label {
    display: flex;
    align-items: center;
}

.class_detail_container_r_banner_label span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    letter-spacing: -.3px;
    margin-right: 10px;
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
    background-color: #3D64BF;
}

.class_detail_container_r_banner span {
    font-size: 15px;
    color: #fff;
}

.class_detail_container_r_title {
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    word-break: break-word;
}

.class_detail_container_r_content {
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    word-break: break-word;
}

.class_detail_container_r_info_star_box {
    margin-right: 8px;
}

.class_detail_container_r_info_star {
    width: 70px;
    position: relative;
    display: inline-block;
}

.class_detail_container_r_info_star_inr {
    display: flex;
}

.class_detail_container_r_language span {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px;
    margin-right: 4px;
    padding: 4px 12px;
    border-radius: 100px;
    background-color: #173f51;
    color: #fff;
    font-weight: 500;
}

.class_detail_container_r_payment_price {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.class_detail_container_r_payment_classes button {
    background-color: transparent;
    border: none;
    color: #ffffff74;
    padding: 10px 30px;
    background-color: #3d64bf76;
    border-radius: 5px;
    cursor: pointer;
}

.class_detail_container_r_payment_classes button:hover {
    color: #fff;
    background-color: #3D64BF;
}

@media screen and (max-width: 1000px) {
    .class_detail_container_lr {  
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .class_detail_container_l {
        margin-top: 32px;
        width: 100%;
        max-width: 100%;
        z-index: 7;
    }
    .class_detail_container_l_img_cover {
        padding-left: unset;
        width: auto;
    }
    .class_detail_container_r {
        padding: 0;
        max-width: 100%
    }
}

.class_container {
    margin: 0;
    margin-top: 10px;
    font-size: 1rem;
    /* background-color: #2E2E2E; */
    padding: 0 10vw;
}

ul.class_tabs {
    margin: 0px;
    padding: 0px 5px;
    list-style: none;
    font-weight: bold;
}

ul.class_tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
}

ul.class_tabs li:hover {
    text-decoration: underline;
    text-decoration-color: #0000007e;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    background-color: #ededed;
}

ul.class_tabs li.class_current {
    background: #ededed;
    color: #222;
    }

.class_tab_content {
    /* display: none; */
    background: #ededed;
    margin: 5px;
    margin-bottom: 40px;
    padding: 20px;
    line-height: 20px;
    
    }

.class_tab_content>p {
    text-align: center;
}

.class_tab_content_title {
    margin: 5px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    font-weight: bold;
}

/* ============================================================================================================ */
/* 강의게시판rating */

.class_detail_rating_tab {
    margin: 0px;
    list-style: none;
    font-weight: bold;
}

.class_detail_rating_form {
    background: #ededed;
    margin-top: 8px;
    margin-bottom: 40px;
    padding: 20px;
    line-height: 20px;
    
}

.class_detail_rating_form_text>textarea {
    background-color: transparent;
    width: 100%;
    resize: none;
}

.class_detail_rating_form_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.class_detail_rating_form_button>button {
    padding: 10px 30px;
}

.class_detail_rating_view_tab {
    display: flex;
    padding: 10px;
}

.class_detail_rating_tab_title {
    margin: 10px;
}

.class_detail_rating_tab_title>span>a {
    cursor: pointer;
}

.class_detail_rating_tab_title>span>a:hover {
    color: red;
}

.class_detail_rating_list_div {
    background: #ededed;
    margin: 10px 0;
    padding: 20px;
    line-height: 20px;
    
}

.class_detail_rating_list_user {
    color: #0000007e;
    display: flex;
    justify-content: space-between;
}

.class_detail_rating_list_text {
    padding-top: 5px;
}

.class_detail_rating_user_button {
    display: flex;
    justify-content: end;
}

.class_detail_rating_user_update_button>button {
    padding: 5px 20px;
    margin-right: 5px;
}

.class_detail_rating_user_delete_button>button {
    padding: 5px 20px;
}



/* ============================================================================================================ */
/* 강의 게시판Community */

.class_detail_commu_form_content {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
}

/* ============================================================================================================ */
/* 강의게시판Notice */

.class_detail_notice_main {
    text-align: center;
    
    /* border: 1px solid; */
}

.class_detail_notice_main_div {
    /* background-color: #ededed18; */
    border: 1px solid;
    padding: 10px;
}

.class_detail_notice_title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}